<h1 class="display-1 m-4">Listado películas</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Año</th>
    </tr>
  </thead>
  <tbody>
    {{#each peliculas}}

    <tr>
      <td scope="row">{{ this.title }}</td>
      <td scope="row">{{ this.year }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>