<h1>Película: {{pelicula.title}}</h1>
<hr>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{pelicula.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary display-6 m-5">{{pelicula.year}}</h6>
    <a href="/api/peliculas" class="btn btn-success">Volver atras</a>
  </div>
</div>